aux
config.h
config.h.in
config.log
config.status
libtool
stamp-h
stamp-h1
*.gz
autom4te*.cache
Makefile.in
aclocal.m4
configure
libnss-mysql-?.?

*.lo
*.la
.deps
.libs
Makefile
Makefile.in
version.c
